# UK Motorcycle Crash Report from 2017 to 2021
A surveil on Great Britain's traffic accidents, with a closer look to motorcycle accidents and related casualties.

Executive Summary: \
-Data Collecting and understanding \
-Data Cleaning \
-EDA \
-Data Visualization \
-SQL Queries \
-? \
-Conclusions

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import csv, sqlite3

## DATA COLLECTING AND UNDERSTANDING
The dataframes I am going to use are stored under _Open Government Licence_ on **data.gov.uk** and are published by the _Department for Transport_. \
I have decided to use the following data sets: 
1) Road Safety - Vehicles last 5 years \
2) Road Safety - Accidents last 5 years \
3) Road Safety - Casualties last 5 years 

In order to look at the motorcycle accidents, I have to find out how the various vehicles are registered. \
Unfortunately, **none of the three dataframes cites the model type**, so I have to search other dataframes. \
Turns out that the _2020 Casualty Dataframe_ shows the **vehicles model name**, allowing me to identify the **motorcycles** as **vehicle_type 5**.

## DF #1: Road Safety - Vehicles last 5 years

In [2]:
dfv = pd.read_csv(r'E:\Program Files\Microsoft VS Code\Projects\CrashProject\dft-road-casualty-statistics-vehicle-last-5-years.csv')
dfv

F:\Programs\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3185: DtypeWarning: Columns (0,2,24) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,accident_index,accident_year,accident_reference,vehicle_reference,vehicle_type,towing_and_articulation,vehicle_manoeuvre,vehicle_direction_from,vehicle_direction_to,vehicle_location_restricted_lane,...,sex_of_driver,age_of_driver,age_band_of_driver,engine_capacity_cc,propulsion_code,age_of_vehicle,generic_make_model,driver_imd_decile,driver_home_area_type,lsoa_of_driver
0,2017010001708,2017,10001708,1,9,0,18,1,5,0,...,1,24,5,1997,2,1,-1,-1,-1,-1
1,2017010001708,2017,10001708,2,2,0,18,1,5,0,...,1,19,4,-1,-1,-1,-1,-1,-1,-1
2,2017010009342,2017,10009342,1,9,0,18,5,1,0,...,1,33,6,1797,8,8,-1,9,1,E01023674
3,2017010009342,2017,10009342,2,9,0,18,5,1,0,...,1,40,7,2204,2,12,-1,2,1,E01004755
4,2017010009344,2017,10009344,1,9,0,18,3,7,0,...,3,-1,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1035529,2021991196607,2021,991196607,2,9,0,18,1,5,0,...,1,61,9,-1,-1,-1,-1,9,2,-1
1035530,2021991197944,2021,991197944,1,9,0,18,3,7,0,...,2,51,8,-1,-1,-1,-1,5,3,-1
1035531,2021991200639,2021,991200639,1,9,0,18,4,8,0,...,2,24,5,-1,-1,-1,-1,4,1,-1
1035532,2021991201030,2021,991201030,1,9,0,18,2,6,0,...,1,28,6,-1,-1,-1,-1,5,2,-1
1035533,2021991201030,2021,991201030,2,17,5,18,2,6,0,...,1,58,9,-1,-1,-1,-1,5,3,-1

## DF #2: Road Safety - Accidents last 5 years

In [3]:
dfa = pd.read_csv(r'E:\Program Files\Microsoft VS Code\Projects\CrashProject\dft-road-casualty-statistics-accident-last-5-years.csv')
dfa

F:\Programs\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3185: DtypeWarning: Columns (0,2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2017010001708,2017,10001708,532920.0,196330.0,-0.080107,51.650061,1,1,2,...,0,4,1,1,0,0,1,1,2,E01001450
1,2017010009342,2017,10009342,526790.0,181970.0,-0.173845,51.522425,1,3,2,...,0,4,1,2,0,0,1,1,2,E01004702
2,2017010009344,2017,10009344,535200.0,181260.0,-0.052969,51.514096,1,3,3,...,0,4,1,1,0,0,1,1,2,E01004298
3,2017010009348,2017,10009348,534340.0,193560.0,-0.060658,51.624832,1,3,2,...,4,4,2,2,0,0,1,1,2,E01001429
4,2017010009350,2017,10009350,533680.0,187820.0,-0.072372,51.573408,1,2,1,...,5,4,1,2,0,0,1,1,2,E01001808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562434,2021991196247,2021,991196247,325546.0,674548.0,-3.194076,55.958152,99,3,2,...,0,1,1,1,0,0,1,1,-1,-1
562435,2021991196607,2021,991196607,271195.0,558271.0,-4.010304,54.902512,99,3,2,...,0,6,1,1,0,0,2,1,-1,-1
562436,2021991197944,2021,991197944,357297.0,860768.0,-2.716825,57.634805,99,3,1,...,0,1,1,1,0,0,2,1,-1,-1
562437,2021991200639,2021,991200639,326936.0,675925.0,-3.172192,55.970735,99,3,1,...,5,1,9,1,0,0,1,2,-1,-1
562438,2021991201030,2021,991201030,270574.0,556367.0,-4.019126,54.885252,99,3,2,...,0,1,1,1,4,0,2,1,-1,-1

## DF #3: Road Safety - Casualties last 5 years

In [4]:
dfc = pd.read_csv(r'E:\Program Files\Microsoft VS Code\Projects\CrashProject\dft-road-casualty-statistics-casualty-last-5-years.csv')
dfc

F:\Programs\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3185: DtypeWarning: Columns (0,2,18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile,lsoa_of_casualty
0,2017010001708,2017,010001708,1,1,2,2,18,4,3,0,0,1,0,0,9,1,2,E01001414
1,2017010001708,2017,010001708,2,2,1,1,19,4,2,0,0,0,0,0,2,-1,-1,-1
2,2017010001708,2017,010001708,2,3,2,1,18,4,1,0,0,0,0,0,2,-1,-1,-1
3,2017010009342,2017,010009342,1,1,2,2,33,6,3,0,0,1,0,0,9,1,5,E01000589
4,2017010009344,2017,010009344,3,1,1,2,31,6,3,0,0,0,0,0,9,1,5,E01003756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728536,2021991196607,2021,991196607,1,1,1,1,38,7,3,0,0,0,0,0,9,2,5,-1
728537,2021991196607,2021,991196607,2,2,1,1,61,9,3,0,0,0,0,0,9,2,9,-1
728538,2021991197944,2021,991197944,1,1,2,2,11,3,3,0,0,2,0,0,9,3,5,-1
728539,2021991200639,2021,991200639,1,1,3,2,34,6,3,1,3,0,0,0,0,1,1,-1
728540,2021991201030,2021,991201030,2,1,1,1,58,9,3,0,0,0,0,0,17,3,5,-1

### Data set 2020, paramount because it shows the model of the vehicles.

In [5]:
df2020 = pd.read_csv(r'E:\Program Files\Microsoft VS Code\Projects\CrashProject\dft-road-casualty-statistics-vehicle-2020.csv')
df2020.head()

F:\Programs\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3185: DtypeWarning: Columns (0,2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,accident_index,accident_year,accident_reference,vehicle_reference,vehicle_type,towing_and_articulation,vehicle_manoeuvre,vehicle_direction_from,vehicle_direction_to,vehicle_location_restricted_lane,...,journey_purpose_of_driver,sex_of_driver,age_of_driver,age_band_of_driver,engine_capacity_cc,propulsion_code,age_of_vehicle,generic_make_model,driver_imd_decile,driver_home_area_type
0,2020010219808,2020,10219808,1,9,9,5,1,5,0,...,6,2,32,6,1968,2,6,AUDI Q5,4,1
1,2020010220496,2020,10220496,1,9,0,4,2,6,0,...,2,1,45,7,1395,1,2,AUDI A1,7,1
2,2020010228005,2020,10228005,1,9,0,18,-1,-1,0,...,6,3,-1,-1,-1,-1,-1,-1,-1,-1
3,2020010228006,2020,10228006,1,8,0,18,1,5,0,...,1,1,44,7,1798,8,8,TOYOTA PRIUS,2,1
4,2020010228011,2020,10228011,1,9,0,18,3,7,9,...,6,1,20,4,2993,2,4,BMW 4 SERIES,-1,-1

As we can see, __motorcycle are registered under the vehicle_type 5__

## DATA CLEANING
For the sake of my research, there are a lot of **unnecessary columns** in the dataframes. For instance, _accident_reference_ is redundant because all of its info are already inside _accident_index_. Also _vehicle_manoeuvre_ and _vehicle_direction[...]_ are not important. \
In fact, since few columns are relevant to my research, I'll select them manually and add them to a new dataframe, rather than dropping them one by one.

### DF #1 Vehicles Dataframe cleaning

In [6]:
print("Old dataframe's dimension: ", dfv.shape)
dfv1 = dfv[["accident_index","accident_year","vehicle_type","sex_of_driver",
           "age_of_driver","engine_capacity_cc","age_of_vehicle"]]
print("New dataframe's dimension: ", dfv1.shape)
dfv1

Old dataframe's dimension:  (1035534, 28)
New dataframe's dimension:  (1035534, 7)

,accident_index,accident_year,vehicle_type,sex_of_driver,age_of_driver,engine_capacity_cc,age_of_vehicle
0,2017010001708,2017,9,1,24,1997,1
1,2017010001708,2017,2,1,19,-1,-1
2,2017010009342,2017,9,1,33,1797,8
3,2017010009342,2017,9,1,40,2204,12
4,2017010009344,2017,9,3,-1,-1,-1
...,...,...,...,...,...,...,...
1035529,2021991196607,2021,9,1,61,-1,-1
1035530,2021991197944,2021,9,2,51,-1,-1
1035531,2021991200639,2021,9,2,24,-1,-1
1035532,2021991201030,2021,9,1,28,-1,-1
1035533,2021991201030,2021,17,1,58,-1,-1

### DF #2 Accidents Dataframe cleaning

In [7]:
print("Old dataframe's dimension: ", dfa.shape)
dfa1 = dfa[["accident_index","accident_year","longitude",
           "latitude"]]
print("New dataframe's dimension: ", dfa1.shape)
dfa1

Old dataframe's dimension:  (562439, 36)
New dataframe's dimension:  (562439, 4)

       accident_index  accident_year  longitude   latitude
0       2017010001708           2017  -0.080107  51.650061
1       2017010009342           2017  -0.173845  51.522425
2       2017010009344           2017  -0.052969  51.514096
3       2017010009348           2017  -0.060658  51.624832
4       2017010009350           2017  -0.072372  51.573408
...               ...            ...        ...        ...
562434  2021991196247           2021  -3.194076  55.958152
562435  2021991196607           2021  -4.010304  54.902512
562436  2021991197944           2021  -2.716825  57.634805
562437  2021991200639           2021  -3.172192  55.970735
562438  2021991201030           2021  -4.019126  54.885252

[562439 rows x 4 columns]

### DF #3 Casualties Dataframe cleaning

In [8]:
print("Old dataframe's dimension: ", dfc.shape)
dfc1 = dfc[["accident_index","accident_year","sex_of_casualty","age_of_casualty"]]
print("New dataframe's dimension: ", dfc1.shape)
dfc1

Old dataframe's dimension:  (728541, 19)
New dataframe's dimension:  (728541, 4)

       accident_index  accident_year  sex_of_casualty  age_of_casualty
0       2017010001708           2017                2               18
1       2017010001708           2017                1               19
2       2017010001708           2017                1               18
3       2017010009342           2017                2               33
4       2017010009344           2017                2               31
...               ...            ...              ...              ...
728536  2021991196607           2021                1               38
728537  2021991196607           2021                1               61
728538  2021991197944           2021                2               11
728539  2021991200639           2021                2               34
728540  2021991201030           2021                1               58

[728541 rows x 4 columns]

## EXPLORATORY DATA ANALYSIS

In [9]:
dfvb1 = (dfv1["vehicle_type"] == 5).sum()
print("Number of accidents involving motorcycles in the vehicle dataframe: ", dfvb1)

Number of accidents involving motorcycles in the vehicle dataframe:  25283

In [10]:
dfvb2 = ((dfv1["vehicle_type"] == 5) & (dfv1["age_of_vehicle"] == -1) & (dfv1["engine_capacity_cc"] == -1)).sum()
print("Number of accidents involving motorcycles in the dataframe, with known vehicle age and engine cc: ", dfvb2)

Number of accidents involving motorcycles in the dataframe, with known vehicle age and engine cc:  3165

In [11]:
print("Percentage of accidents with known vehicle age and engine cc on total motorcycle accidents: ", dfvb2/dfvb1)

Percentage of accidents with known vehicle age and engine cc on total motorcycle accidents:  0.12518292924099197

In [12]:
dfv["vehicle_type"].value_counts()

 9     720862
 1      88383
 19     59921
 3      40781
 5      25283
 8      20675
 11     18370
 21     16283
 4      10247
 90      7840
 2       7347
 98      5374
 20      4893
 17      2274
 97      2104
 10      1758
 22      1224
-1        842
 23       478
 16       404
 18        99
 99        92
Name: vehicle_type, dtype: int64

In [13]:
dfv["vehicle_type"].value_counts() / dfv["vehicle_type"].count()

 9     0.696126
 1     0.085350
 19    0.057865
 3     0.039382
 5     0.024415
 8     0.019966
 11    0.017740
 21    0.015724
 4     0.009895
 90    0.007571
 2     0.007095
 98    0.005190
 20    0.004725
 17    0.002196
 97    0.002032
 10    0.001698
 22    0.001182
-1     0.000813
 23    0.000462
 16    0.000390
 18    0.000096
 99    0.000089
Name: vehicle_type, dtype: float64

In [14]:
df2 = df2020.loc[df2020["vehicle_type"] == 5]
df2

,accident_index,accident_year,accident_reference,vehicle_reference,vehicle_type,towing_and_articulation,vehicle_manoeuvre,vehicle_direction_from,vehicle_direction_to,vehicle_location_restricted_lane,...,journey_purpose_of_driver,sex_of_driver,age_of_driver,age_band_of_driver,engine_capacity_cc,propulsion_code,age_of_vehicle,generic_make_model,driver_imd_decile,driver_home_area_type
119,2020010228283,2020,10228283,2,5,0,18,1,5,0,...,6,1,35,6,600,1,8,YAMAHA XJ6,2,1
334,2020010228659,2020,10228659,2,5,0,18,5,1,0,...,6,1,48,8,1200,1,17,HARLEY-DAVIDSON MODEL MISSING,2,1
381,2020010228738,2020,10228738,3,5,0,18,7,3,0,...,2,1,40,7,647,1,2,-1,6,1
402,2020010228796,2020,10228796,2,5,5,15,1,5,0,...,6,1,31,6,865,1,15,TRIUMPH BONNEVILLE,4,1
450,2020010228865,2020,10228865,2,5,0,18,1,5,0,...,6,1,18,4,847,1,3,YAMAHA MT09,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166742,2020991003397,2020,991003397,1,5,0,13,8,3,0,...,5,1,30,6,599,1,19,-1,6,2
166754,2020991003505,2020,991003505,1,5,0,17,8,4,0,...,5,1,53,8,649,1,3,KAWASAKI KLE650,7,1
166835,2020991004857,2020,991004857,2,5,0,18,7,3,0,...,2,1,50,8,600,1,20,KAWASAKI MODEL MISSING,1,1
167128,2020991009395,2020,991009395,1,5,0,18,8,4,0,...,5,1,48,8,649,1,18,-1,8,1
167371,2020991030297,2020,991030297,2,5,0,16,6,2,0,...,5,1,38,7,1301,1,2,KTM 1290 SUPERDUKE,9,2

In [15]:
dfv2 = dfv1.loc[dfv1["vehicle_type"] == 5]
dfv2

,accident_index,accident_year,vehicle_type,sex_of_driver,age_of_driver,engine_capacity_cc,age_of_vehicle
174,2017010009587,2017,5,1,35,749,20
209,2017010009611,2017,5,1,35,599,10
271,2017010009775,2017,5,1,33,598,14
320,2017010009856,2017,5,1,33,749,10
381,2017010010007,2017,5,1,46,600,3
...,...,...,...,...,...,...,...
1035330,2021991128640,2021,5,1,55,908,30
1035374,2021991134919,2021,5,1,38,599,22
1035412,2021991142814,2021,5,1,53,998,10
1035418,2021991143799,2021,5,1,32,-1,-1
1035419,2021991143799,2021,5,1,41,-1,-1

In [16]:
dfa1.to_csv(r'E:\Program Files\Microsoft VS Code\Projects\CrashProject\Accidents.csv',index=False)

In [17]:
dfv2.to_csv(r'E:\Program Files\Microsoft VS Code\Projects\CrashProject\Motorcycles.csv',index=False)

In [18]:
dfc1.to_csv(r'E:\Program Files\Microsoft VS Code\Projects\CrashProject\Casualties.csv',index=False)